@use"../scss/variables"as *;
.apartment-page{
    color: $color-primary;
    div{
        margin-top: 0.5rem;
    }
    .apartment__description__area{
        display: flex;
        gap: 1rem;
        overflow: hidden;
        

        @media screen and (width <= 768px){
            flex-direction: column;
        }
    }
}
    