@use"../scss/variables"as *;
.apartment-page{
    color: $color-primary;
    div{
        margin-top: 0.5rem;
    }
    .apartment__description__area{
        display: flex;
        gap: 1rem;
    }
}
    