@use"../scss/variables"as *;

.error-page{
    color: $color-primary;
    text-align: center;
    h1{
        font-size: 10rem ;
        margin-bottom: 0.4em;
    }
    h2{
        font-size: 28px;
        font-weight: 400;
       
    }
    a{
        color: $color-primary;
       
    }
}