@use"../scss/variables"as *;
.apartment{
    border-radius: 1rem;
   background-color: $color-primary;
    flex-basis: 30%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
   position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      filter: brightness(0.8);
      box-shadow: rgb(149 157 165 /20% )0px 8px 24px;
    }
    @media screen and (width <= 766px){
    .apartment{
      flex-basis: 100%;
    }
  }
  & &__title{
      width: 50%;
      color: $color-tertiary;
      margin-inline-start: 0.5rem;
      margin-block-end: 0.5rem;
      text-decoration: none;
      position: absolute;
  }
  }

  
  
 
  