@use"../scss/variables"as *;

.apartment__header{
    display: flex;
    .apartment__title{
        flex-grow: 1;
    }
    .apartment__owner__détails{
        display: flex;
        gap: 0.5rem;
    }
    & .apartment__owner__badge {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color:$grid-background-dark;
    }
    .apartment__owner__stars{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        *{
            font-size: 2rem;
        }
        .on{
            color: $color-primary;
        }
        .off{
            color: $grid-background-dark;
        }
    }
    h1{
        font-weight: 400;
        margin-block: 0;
    }
    h2{
        font-weight: 400;
        margin-bottom: 0.2em;
        margin-top: 0.5em;
        font-size: 20px;
        color: $footer-background-color;
    }
    .apartment__tags{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
        gap: 1rem;
        text-align: center;
        // margin-bottom: 20px;
       span{
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.3em 0.5em;
        border-radius: 0.7rem;
       }   
    }
   h3{
    margin-block: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 400;

   }
}