@use"../scss/variables"as *;
.apartment{
   background-image:url("https://picsum.photos/200");
    border-radius: 1rem;
   background-color: $color-primary;
    flex-basis: 30%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
    @media screen and (width <= 766px){
    .apartment{
      flex-basis: 100%;
    }
  }
  & &__title{
      width: 50%;
      color: $color-tertiary;
      margin-inline-start: 0.5rem;
      margin-block-end: 0.5rem;
      text-decoration: none;
  }
  }

  
  
 
  