@use"../scss/variables"as *;
.apartment{
    border-radius: 1rem;
   background-color: $color-primary;
    flex-basis: 30%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 250px;
    background-size: cover;
   position: relative;
   overflow: hidden; // Évite que l'ombre dépasse
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      filter: brightness(0.8);
      transition: filter 0.3s ease-in-out;
      box-shadow: rgb(149 157 165 /20% )0px 8px 24px;
    }
    
   &:hover {
     transform: scale(1.05) rotate(1deg);
     box-shadow: rgb(0 0 0 / 30%) 0px 15px 30px;
     img {
       filter: brightness(1);
       }
    }
  & &__title{
      width: 50%;
      color: $color-tertiary;
      margin-inline-start: 0.5rem;
      margin-block-end: 0.5rem;
      text-decoration: none;
      position: absolute;
      bottom: 10px;
     left: 10px;
     font-weight: bold;
     transition: opacity 0.3s ease-in-out;
  } 
  &:hover &__title {
         opacity: 1;
      }
  @media screen and (width <= 766px){
    .apartment{
      flex-basis: 100%;
    }
  }
  }

  
  
// @use "../scss/variables" as *;

// .apartment {
//   border-radius: 1rem;
//   background-color: $color-primary;
//   flex-basis: 30%;
//   display: grid;
//   align-items: end;
//   min-width: 200px;
//   min-height: 250px;
//   background-size: cover;
//   position: relative;
//   overflow: hidden; // Évite que l'ombre dépasse
//   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     border-radius: 1rem;
//     filter: brightness(0.8);
//     box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
//     transition: filter 0.3s ease-in-out;
//   }

//   &:hover {
//     transform: scale(1.05) rotate(1deg);
//     box-shadow: rgb(0 0 0 / 30%) 0px 15px 30px;
    
//     img {
//       filter: brightness(1);
//     }
//   }

//   &__title {
//     width: 50%;
//     color: $color-tertiary;
//     margin-inline-start: 0.5rem;
//     margin-block-end: 0.5rem;
//     text-decoration: none;
//     position: absolute;
//     bottom: 10px;
//     left: 10px;
//     font-weight: bold;
//     transition: opacity 0.3s ease-in-out;
//   }

//   &:hover &__title {
//     opacity: 1;
//   }

//   @media screen and (max-width: 766px) {
//     flex-basis: 100%;
//   }
// }

  