@use"../scss/variables"as *;

.description__panel{
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;
    p{
        margin-block: 0;
    }
    .description__header{
       background-color: $color-primary;
       color: $color-tertiary;  
       padding: 0.2em 1em;
       border-radius: 0.7rem;
       display: flex;
       justify-content: space-between;
       align-items: center;
       i{
        font-size: 2rem;
        cursor: pointer;
       }
    }
    .description__content{
        background-color :$background-light;
        color: $color-primary;
        padding: 1rem;
        border-radius:0.7rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
        animation: slide-in 0.5s ease-in-out;
    }
   
}
@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
}

    
