@use"../scss/variables"as *;

.image__banner{
    margin-bottom: 2rem;
    position: relative;
     .btn{
         position: absolute;
         cursor: pointer;
         top: 0;
         bottom: 0;
         width: 5rem;
         background-color: transparent;
         color: $color-tertiary;
         font-size: 3rem;
         border-width: 0;
         &.btn-next{
            right: 0;

         }
         &.btn-previous{
            left: 0;
         }

      }
      .slide-counter{
      position: absolute;
      width: 100%;
      color: $color-tertiary;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 0 0 1rem 1rem;
      bottom: 1rem;
    }
    .image__container{    
    position: relative;
    height: 20rem;
    width: 100%;
   
    img{
     width: 100%;
     height: 100%;
     position:absolute;
     inset: 0;
     object-fit: cover;
     border-radius: 1rem;
     box-shadow: rgb(149 157 165 / 20%)0px 8px 24px;
     opacity: 0;
     transition: opacity 0.5s ease-in-out; 
     &.show {
        opacity: 1;   
      } 
      
    }
 }
   
}  

