@use"../scss/variables"as *;
.navbar{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: $color-primary;
    font-weight: 700;
    gap: 2rem;
    @media screen and (width <= 768px){
      text-transform: uppercase;
      font-weight: 400;
  }
    & >*:first-child{
        margin-right: auto;
    }
    
    & a{
    text-decoration: none;
    color: $color-primary;
    
    &a:active,
   & a:hover{
    text-decoration: underline;
    }
  }

}

 

 
