$color-primary:#ff6060;
$color-secondary: #863535;
$color-tertiary: white;
$grid-background-dark:rgba(0,0,0,0.119);
$background-light: #f6f6f6;
$grid-background-white:white;
$footer-background-color:black;
